.container {
  margin: auto;
  max-width: 1200px;
}

.wrapper {
  overflow: hidden;
}

.fix {
  overflow: hidden;
}

.bg-gray {
  background-color: $gray;
}

.bg-black {
  background: #444444;
}

.bdr-bottom1 {
  border-bottom-color: #d8373e !important;
  border-bottom: 3px solid #d8373e;
}

.pb-20 {
  padding-bottom: 20px!important;
}
.pt-20 {
  padding-top: 20px!important;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.mb-30 {
  margin-bottom: 30px!important;
}

.pb-30 {
  padding-bottom: 30px!important;
}

.mb-10 {
  margin-bottom: 10px!important;
}

.pb-38 {
  padding-bottom: 38px!important;
}

.pt-40 {
  padding-top: 40px!important;
}

.pt-4 {
  padding-top: 4px!important;
}

.mr-70 {
  margin-right: 70px!important;
}

.pt-28 {
  padding-top: 28px!important;
}

.mb-26 {
  margin-bottom: 26px!important;
}

.pb-34 {
  padding-bottom: 34px!important;
}

.pt-26 {
  padding-top: 26px!important;
}

.mt-10 {
  margin-top: 10px!important;
}

.mt-20 {
  margin-top: 20px!important;
}

.mt-34 {
  margin-top: 34px!important;
}

.mb-22 {
  margin-bottom: 22px!important;
}

.mb-28 {
  margin-bottom: 28px!important;
}