.about-us-wrapper {
    .about-text-wrap {
        font-size: 16px;
        line-height: 28px;

        h3 {
            display: block;
            font-weight: 400;
            font-size: 30px;
        }

        h2 {
            color: #444444;
            font-size: 48px;
            line-height: 48px;
            font-weight: 600;
            margin-bottom: 15px;
        }

    }

    .about-image-wrap {
        position: relative;
        padding-left: 30px;
        padding-top: 30px;

        &:after {
            border: 5px solid #d8373e;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            z-index: -1;
        }
    }
}