.product-item {

    &:hover .img-sec {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .product-thumb {
        position: relative;

        .img-pri {
            width: 100%;
        }

        .img-sec {
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }

        .product-label {
            top: 0;
            left: 0;
            position: absolute;

            span {
                width: 50px;
                height: 50px;
                font-size: 14px;
                color: #ffffff;
                font-weight: 600;
                text-align: center;
                line-height: 50px;
                display: block;
                background-color: #f9af51;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                text-transform: uppercase;
            }
        }

    }

    .product-content {
        padding-top: 15px;

        h3 {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 2px solid #444444;
            padding-bottom: 12px;
            margin-bottom: 10px;
        }

        .pricebox {
            .regular-price {
                color: #d8373e;
                font-size: 16px;
                font-weight: 700;
            }

            .old-price {
                color: #a5a5a5;
                padding-left: 5px;
            }

            .ratings {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;

                .ratings span {
                    color: #404040;
                    margin-right: 3px;
                    font-size: 12px;

                    &.good {
                        color: #ffba00;
                    }
                }
            }
        }
    }
}