.search-box {
    -ms-flex-preferred-size: 670px;
    flex-basis: 670px;
    position: relative;

    input {
        height: 52px;
        padding: 0 70px 0 10px;
        width: 100%;
        border: 2px solid #444444;
        border-right: 2px solid transparent;
        position: relative;
    }

    .search-btn {
        top: 0;
        right: 0;
        width: 56px;
        height: 52px;
        color: #ffffff;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        border: 2px solid #444444;
        background-color: #444444;

        &:hover {
            background-color: #d8373e;
            border-color: #d8373e;
        }

        i {
            font-size: 20px;
            line-height: 48px;
        }
    }
}