footer {
    .brand-area {
        
        .brand-active {
            padding: 5px 0;

            .slick-list {
                margin: 0 -15px;
            }

            .slick-arrow {
                bottom: calc(100% + 36px);
                width: 28px;
                height: 28px;
                color: #444444;
                font-size: 18px;
                text-align: center;
                border: 2px solid #ddd;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                z-index: 1;
                cursor: pointer;
                display: block;
                position: absolute;
                background-color: #ffffff;
                line-height: 24px;

                &.slick-prev {
                    right: 32px;
                    left: auto;
                    top: auto;
                    transform: translate(0, 0);

                    &:before {
                        content: '';
                    }

                    i {
                        padding-right: 2px;
                        display: block;
                    }
                }

                &.slick-next {
                    right: 0;
                    left: auto;
                    top: auto;
                    transform: translate(0, 0);

                    &:before {
                        content: '';
                    }

                    i {
                        padding-left: 2px;
                        display: block;
                    }
                }
            }

            .brand-item {
                border: 1px solid #e5e5e5;
                padding: 0 10px;
                margin: 0 15px;
            }
        }
        

    }

    .footer-top {
        padding-top: 32px !important;
        padding-bottom: 32px !important;

        .footer-top-wrapper {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .newsletter__wrap {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-flex-basis: 75%;
                -moz-flex-basis: 75%;
                -ms-flex-basis: 75%;
                -ms-flex-preferred-size: 75%;
                flex-basis: 75%;
                -webkit-justify-content: space-between;
                -moz-justify-content: space-between;
                -ms-justify-content: space-between;
                -webkit-box-pack: justify;
                justify-content: space-between;
                -ms-flex-pack: space-between;

                .newsletter__title {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-basis: 50%;
                    -moz-flex-basis: 50%;
                    -ms-flex-basis: 50%;
                    -ms-flex-preferred-size: 50%;
                    flex-basis: 50%;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    .newsletter__icon {
                        width: 62px;
                        height: 40px;
                        border: 1px solid #696969;
                        line-height: 40px;
                        text-align: center;

                        i {
                            color: #ffffff;
                            font-size: 18px;
                        }
                    }

                    .newsletter__content {
                        padding-left: 10px;

                        h3 {
                            color: #ffffff;
                            font-size: 22px;
                            line-height: 24px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }

                        p {
                            color: #c6c6c6;
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }
                }

                .newsletter__box {
                    height: 36px;
                    -webkit-flex-basis: 50%;
                    -moz-flex-basis: 50%;
                    -ms-flex-basis: 50%;
                    -ms-flex-preferred-size: 50%;
                    flex-basis: 50%;

                    form {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;

                        input {
                            -ms-flex-preferred-size: calc(100% - 108px);
                            flex-basis: calc(100% - 108px);
                            padding: 5px 10px;
                            margin-right: 15px;
                            color: #404040;
                            border: 1px solid #ffffff;
                        }

                        button {
                            border: none;
                            color: #ffffff;
                            font-size: 14px;
                            -ms-flex-preferred-size: 108px;
                            flex-basis: 108px;
                            padding: 0px 15px;
                            line-height: 34px;
                            cursor: pointer;
                            background: #d8373e;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .social-icons {
                text-align: right;
                -webkit-flex-basis: calc(100% - 75%);
                -moz-flex-basis: calc(100% - 75%);
                -ms-flex-basis: calc(100% - 75%);
                -ms-flex-preferred-size: calc(100% - 75%);
                flex-basis: calc(100% - 75%);

                a {
                    color: #ffffff;
                    font-size: 18px;
                    height: 36px;
                    width: 36px;
                    text-align: center;
                    display: inline-block;
                    line-height: 36px;
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover {
                        background-color: #d8373e;
                    }
                }
            }
        }

    }

    .footer-widget-area {
        .widget-title h4 {
            color: #444444;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
        }

        .widget-body {
            ul {
                li {
                    margin-bottom: 8px;

                    a {
                        color: #444444;
                        font-size: 13px;
                        text-transform: capitalize;
                        position: relative;

                        &:before {
                            left: 0;
                            top: 0;
                            content: "\f0da";
                            padding-right: 10px;
                            color: #d8373e;
                            font-family: "FontAwesome";
                        }

                        &:hover {
                            color: #d8373e;
                            padding-left: 15px;
                        }
                    }
                }

                &.location li {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: baseline;
                    -moz-align-items: baseline;
                    -ms-align-items: baseline;
                    -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                    align-items: baseline;
                    margin-bottom: 5px;
                    color: #444444;
                    font-size: 13px;
                    
                    i {
                        color: #d8373e;
                        font-size: 16px;
                        padding-right: 10px;
                        width: 26px;
                    }
                }
            }

        }

        .map-btn {
            color: #ddd;
            font-size: 13px;
            line-height: 30px;
            background-color: #444444;
            padding: 0 25px;
            margin-top: 15px;
            display: inline-block;
            text-transform: capitalize;

            &:hover {
                color: #ffffff;
                background-color: #d8373e;
            }
        }
    }

    .footer-bottom-area {
        .footer-bottom-wrap {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -ms-flex-pack: space-between;

            p {
                color: #404040;
                font-size: 13px;
                text-transform: capitalize;
            }
        }
    }

    

}