// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;

// Link
$link-color: #444444;
$link-hover-color: #d8373e;
$link-hover-decoration: none;

// Tooltip
$tooltip-bg:  #d8373e;


$text-color: #444444;
$text-color-hover: #d8373e;
$text-color-light: #919191;
$gray-background: #535353;
$light-gray-background: #F5F5F5;
$separator-color: #CDCDCD;
$heart: #FFBABA;
$primary: #3EBFA4;
$cart-count: #FFD94D;

$gutter: 30px;

// Colors
$primary: #3EBFA4;
$white: #ffffff;
$gray: #e1e1e1;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #d8373e;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
 
// Pagination
$pagination-color: #444444;
$pagination-active-bg: #d8373e;
$pagination-active-border-color: #b8242a;

//Forms
$input-focus-border-color: #d8373e;
$input-focus-box-shadow: 0 0 0 0.2rem rgb(216 55 62 / 0.25);
